n8n/demo-data/workflows/others/gmail-replies.json
{
  "nodes": [
    {
      "parameters": {
        "model": "open-mistral-nemo",
        "options": {}
      },
      "id": "d4bdcebd-44c8-4ec4-b967-c0ca76cdc15e",
      "name": "Mistral Cloud Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -580,
        520
      ]
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Format Data').item.json.messageId }}",
        "labelIds": [
          "Label_5521657766550381802"
        ]
      },
      "id": "5cd6f5f5-87fd-4b49-a831-01dc248fa623",
      "name": "Feedback",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        540
      ],
      "webhookId": "dbeacfea-dbbf-4c58-8938-8908590c0637"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Format Data').item.json.messageId }}",
        "labelIds": [
          "Label_4295782518106000496"
        ]
      },
      "id": "4fd07d4c-14c3-4144-a479-99f6ec8861b1",
      "name": "Miscellaneous",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        720
      ],
      "webhookId": "e0c551f1-36b6-451d-8f9b-dbbc9b569fb8"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Format Data').item.json.messageId }}",
        "labelIds": [
          "Label_3870475956528353165"
        ]
      },
      "id": "7e209763-2c27-425c-9c39-caf947c9057e",
      "name": "Payment/Billing",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        360
      ],
      "webhookId": "ee9a4687-a2e4-4ceb-969f-37706c2f012b"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "id": "b79b1b2f-d692-4627-a4e8-e0f2b85a91ad",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -2200,
        340
      ]
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Format Data').item.json.messageId }}",
        "labelIds": [
          "Label_5025496174293296817"
        ]
      },
      "id": "a0526211-a3bd-4917-85ad-84b31972975d",
      "name": "Consultation Booking",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        180
      ],
      "webhookId": "244df616-ae6d-4ad1-beaf-11e96bb7ae9c"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Format Data').item.json.messageId }}",
        "labelIds": [
          "Label_98292142104720829"
        ]
      },
      "id": "07c70c61-e175-4831-8149-43255f78f84b",
      "name": "Service Inquiry",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "999ce5aa-5009-4805-b3ed-7567a1784d26"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e203ed6b-e2b2-4f22-9fed-8c8421c9d0df",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1960,
        500
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "senderName",
              "description": "The name of the sender of the email message. If no sender name, return an empty string.",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you must add an empty string as a value."
        }
      },
      "id": "bb4e054d-439a-46f0-9eb1-dec171a20e0a",
      "name": "Information Extractor",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        -1960,
        340
      ],
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "904dd071-cec0-4c5d-880c-4297628edd21",
              "name": "messageId",
              "value": "={{ $('Gmail Trigger').first().json.id }}",
              "type": "string"
            },
            {
              "id": "e292302f-69f5-46a4-8be6-b32f48efb019",
              "name": "threadId",
              "value": "={{ $('Gmail Trigger').first().json.threadId }}",
              "type": "string"
            },
            {
              "id": "350dab47-8edc-42bb-a88b-0a7289f9804f",
              "name": "emailBody",
              "value": "={{ $('Gmail Trigger').first().json.text }}",
              "type": "string"
            },
            {
              "id": "33ab20ac-bb2d-44cf-ab06-264e35b6acd6",
              "name": "introduction",
              "value": "={{ $json.introduction }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "26912bff-400d-4701-98af-2e79c9101485",
      "name": "Format Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -820,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "28ca0636-1210-4178-8585-1e158a754594",
              "leftValue": "={{ $json.output.senderName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1bdc6ac-e5fc-4e66-a074-a716ada7575b",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1560,
        340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b3fffbd-796b-4d94-8274-ae8c6474683a",
              "name": "introduction",
              "value": "=Dear {{ $json.output.senderName }},",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7dbf30a2-050a-411a-8203-7acb5d8e3319",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1300,
        260
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "22834903-c05d-4b4d-a9c9-e2b46e1ea6d4",
              "name": "introduction",
              "value": "Hi,",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a5c89e21-e2fa-43df-8d7d-ba8ba6f61646",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1300,
        440
      ]
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Format Data').item.json.messageId }}",
        "emailType": "text",
        "message": "={{ $('Format Data').item.json.introduction}}\n\nThank you for contacting us regarding your payment/billing inquiry. We’ve received your message and are working to address your request.\n\nA member of our team will get back to you within [X business days/hours] to provide the necessary information or assistance.\n\nIf this matter is urgent, please call us directly at [phone number].\n\nThank you for your patience and for choosing [Your Business Name].\n\nBest regards,\n[Your Name/Team Name]\n[Your Contact Information]",
        "options": {}
      },
      "id": "897ed5c4-2d8e-4aa3-bb64-53bc481028be",
      "name": "Reply Billing",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        220,
        360
      ],
      "webhookId": "17ddb40c-72e1-4c8d-9ba9-2c5369023a68"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Format Data').item.json.messageId }}",
        "emailType": "text",
        "message": "={{ $('Format Data').item.json.introduction}}\n\nThank you for reaching out to [Your Business Name]! We’re excited to learn about your needs and how we can assist you.\n\nYour inquiry has been received, and a member of our team is reviewing the details. We’ll get back to you within 24 hours with more information.\n\nIn the meantime, feel free to explore our [website/portfolio/FAQ page] for additional details about our services: mywebsite.com.\n\nWe look forward to connecting with you!\n\nBest regards,\n[Your Name/Team Name]\n[Your Contact Information]",
        "options": {}
      },
      "id": "b249d372-df68-4461-8ea1-b5f7ba96d432",
      "name": "Reply Service Inquiry",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        220,
        0
      ],
      "webhookId": "6c8ba206-b91a-483b-98a4-95713b873e91"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Format Data').item.json.messageId }}",
        "emailType": "text",
        "message": "={{ $('Format Data').item.json.introduction }}\n\nThank you for reaching out to [Your Business Name]. We’re excited to learn more about your needs and discuss how we can help.\n\nTo schedule your consultation, please reply to this email with your preferred date and time or use our online booking link here: [Insert booking link].\n\nOnce we receive your preferred time, we’ll confirm the appointment or suggest alternative options if needed.\n\nIf you have any specific topics you’d like to discuss during the consultation, feel free to include them in your reply.\n\nWe look forward to connecting with you!\n\nBest regards,\n[Your Name/Team Name]\n[Your Contact Information]",
        "options": {}
      },
      "id": "e800707d-1021-42a4-9dc3-77fc54f4f16a",
      "name": "Reply Consultation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        220,
        180
      ],
      "webhookId": "317ecf4a-461c-489c-b070-f443beae3085"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "{{ $('Format Data').item.json.messageId }}",
        "emailType": "text",
        "message": "={{ $('Format Data').item.json.introduction}}\n\nWe appreciate you taking the time to share your feedback with us. Your input is invaluable in helping us improve and provide the best possible experience for our clients.\n\nOur team will review your message carefully. If a follow-up is needed, you can expect to hear back from us within [X business days/hours].\n\nThank you for helping us grow and better serve you!\n\nBest regards,\n[Your Name/Team Name]\n[Your Contact Information]",
        "options": {}
      },
      "id": "ec202a4b-c45b-4baa-85a3-506dbdea86ff",
      "name": "Reply Feedback",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        220,
        540
      ],
      "webhookId": "7511b836-a3d9-497d-96ab-d6bfde9d9454"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Format Data').item.json.messageId }}",
        "emailType": "text",
        "message": "={{ $('Format Data').item.json.introduction}}\n\nThank you for contacting us regarding your payment/billing inquiry. We’ve received your message and are working to address your request.\n\nA member of our team will get back to you within [X business days/hours] to provide the necessary information or assistance.\n\nIf this matter is urgent, please call us directly at [phone number].\n\nThank you for your patience and for choosing [Your Business Name].\n\nBest regards,\n[Your Name/Team Name]\n[Your Contact Information]",
        "options": {}
      },
      "id": "a6e4838e-5933-48fa-adce-e5e4eab40a6d",
      "name": "Reply Miscellaneous",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        220,
        720
      ],
      "webhookId": "7a4ef3c2-e6a0-4b0c-8175-e40b19b96f72"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "introduction",
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "id": "fb74786e-d556-4ee8-b95a-4a80eea44078",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1020,
        360
      ]
    },
    {
      "parameters": {
        "inputText": "={{ $json.emailBody }}",
        "categories": {
          "categories": [
            {
              "category": "Service Inquiry",
              "description": "Questions about consulting services offered, rates, or availability."
            },
            {
              "category": "Consultation Booking",
              "description": "Scheduling initial consultations or follow-up meetings."
            },
            {
              "category": "Payment/Billing Questions",
              "description": "Questions about invoices, payments, or refunds"
            },
            {
              "category": "Feedback or Testimonials",
              "description": "Clients providing feedback, testimonials, or reviews of services."
            },
            {
              "category": "Miscellaneous",
              "description": "Emails that don’t clearly fit into the other categories."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."
        }
      },
      "id": "dd09ab3d-c792-42c3-85f5-9e3e3443c8fc",
      "name": "Email Classifier",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -600,
        340
      ]
    }
  ],
  "connections": {
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Feedback": {
      "main": [
        [
          {
            "node": "Reply Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Miscellaneous": {
      "main": [
        [
          {
            "node": "Reply Miscellaneous",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment/Billing": {
      "main": [
        [
          {
            "node": "Reply Billing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultation Booking": {
      "main": [
        [
          {
            "node": "Reply Consultation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Service Inquiry": {
      "main": [
        [
          {
            "node": "Reply Service Inquiry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "Email Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Classifier": {
      "main": [
        [
          {
            "node": "Service Inquiry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consultation Booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Payment/Billing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Feedback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Miscellaneous",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  }
}