n8n/demo-data11/workflows/cy1Iqcpab57OeMFg.json
{"createdAt":"2025-05-31T23:28:32.672Z","updatedAt":"2025-06-13T00:56:58.253Z","id":"cy1Iqcpab57OeMFg","name":"[draft] Chatgpt generated workflow","active":false,"isArchived":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{}},"name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1,"position":[0,0],"id":"c31397d1-7862-495c-818c-78813a55618d","credentials":{"gmailOAuth2":{"id":"86IFxw2xHjFCcMIH","name":"Gmail account"}}},{"parameters":{"functionCode":"const body = $json[\"body\"] || '';\nconst lines = body.split('\n');\nlet data = { attendees: [], duration: 30, title: 'Meeting', dateRange: [] };\nlines.forEach(line => {\n  if (line.includes('Attendees:')) {\n    data.attendees = line.replace('Attendees:', '').split(',').map(a => a.trim());\n  } else if (line.includes('Duration:')) {\n    data.duration = parseInt(line.replace('Duration:', '').trim());\n  } else if (line.includes('Title:')) {\n    data.title = line.replace('Title:', '').trim();\n  } else if (line.includes('Date Range:')) {\n    const [start, end] = line.replace('Date Range:', '').trim().split('to');\n    data.dateRange = [new Date(start.trim()), new Date(end.trim())];\n  }\n});\nreturn [{ json: data }];"},"name":"Parse Email","type":"n8n-nodes-base.function","typeVersion":1,"position":[200,0],"id":"155839a3-1fcd-4214-a06f-beb88af34e4b"},{"parameters":{"functionCode":"// Assume you fetched all busy times into busySlots\nconst duration = $json.duration;\nconst dateStart = new Date($json.dateRange[0]);\nconst dateEnd = new Date($json.dateRange[1]);\nconst busySlots = $items('Google Calendar').map(item => ({\n  start: new Date(item.json.start),\n  end: new Date(item.json.end)\n}));\n\nfunction getFreeSlots(start, end, busy, durationMinutes) {\n  let slots = [];\n  let current = new Date(start);\n  while (current < end) {\n    const next = new Date(current.getTime() + durationMinutes * 60000);\n    const overlap = busy.find(b => current < b.end && next > b.start);\n    if (!overlap && next <= end) {\n      slots.push({ start: current.toISOString(), end: next.toISOString() });\n    }\n    current = new Date(current.getTime() + 15 * 60000);\n  }\n  return slots;\n}\n\nconst freeSlots = getFreeSlots(dateStart, dateEnd, busySlots, duration);\nreturn [{ json: { freeSlots } }];"},"name":"Find Available Slots","type":"n8n-nodes-base.function","typeVersion":1,"position":[400,0],"id":"9dba77de-fed3-45b3-b566-0569c2a4a816"},{"parameters":{"subject":"Available Time Slots","message":"=","additionalFields":{}},"name":"Send Slot Options","type":"n8n-nodes-base.gmail","typeVersion":1,"position":[600,0],"id":"0229bfeb-920c-45c9-ade7-6a71274d0153","credentials":{"gmailOAuth2":{"id":"86IFxw2xHjFCcMIH","name":"Gmail account"}}},{"parameters":{"functionCode":"const body = $json.body.toLowerCase();\nconst match = body.match(/(\\d+)/);\nconst selectedIndex = match ? parseInt(match[1]) - 1 : null;\nconst selectedSlot = $items('Find Available Slots')[0].json.freeSlots[selectedIndex];\nreturn [{ json: { selectedSlot } }];"},"name":"Parse Slot Reply","type":"n8n-nodes-base.function","typeVersion":1,"position":[1000,0],"id":"48b19b04-7445-4c38-b53c-2690f2007ef2"},{"parameters":{"calendar":"primary","start":"={{$json[\"selectedSlot\"].start}}","end":"={{$json[\"selectedSlot\"].end}}","additionalFields":{}},"name":"Create Event","type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[1200,0],"id":"e057e2e3-3f43-4896-8a98-c4d751fb707b","credentials":{"googleCalendarOAuth2Api":{"id":"RVehizz34M0DAlAa","name":"Google Calendar account"}}},{"parameters":{"subject":"Meeting Scheduled","message":"=","additionalFields":{}},"name":"Notify Attendees","type":"n8n-nodes-base.gmail","typeVersion":1,"position":[1400,0],"id":"25730065-b68c-4310-ad57-4c079f0baeb8","credentials":{"gmailOAuth2":{"id":"86IFxw2xHjFCcMIH","name":"Gmail account"}}},{"parameters":{"resume":"webhook","httpMethod":"POST","options":{}},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[800,0],"id":"08b28d16-88c1-4e64-8f8a-6f96c135cb59","name":"Wait for reply","webhookId":"38ba678b-a081-420a-b0ce-e5973f3dd3cf"}],"connections":{"Gmail Trigger":{"main":[[{"node":"Parse Email","type":"main","index":0}]]},"Parse Email":{"main":[[{"node":"Find Available Slots","type":"main","index":0}]]},"Find Available Slots":{"main":[[{"node":"Send Slot Options","type":"main","index":0}]]},"Parse Slot Reply":{"main":[[{"node":"Create Event","type":"main","index":0}]]},"Create Event":{"main":[[{"node":"Notify Attendees","type":"main","index":0}]]},"Send Slot Options":{"main":[[{"node":"Wait for reply","type":"main","index":0}]]},"Wait for reply":{"main":[[{"node":"Parse Slot Reply","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e5383630-1260-48c6-a9e2-5c13863b9681","triggerCount":0,"tags":[]}