n8n/demo-data11/workflows/dtPzHlQXj2Nc6PGE.json
{"createdAt":"2025-06-08T03:03:50.907Z","updatedAt":"2025-06-13T00:51:40.555Z","id":"dtPzHlQXj2Nc6PGE","name":"Gmail Draft","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"llama3.2:latest","options":{"format":"json"}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-56,260],"id":"bab1fe8c-08f7-4600-9130-ccca68897108","name":"Ollama Chat Model3","credentials":{"ollamaApi":{"id":"xHuYe0MDGOs9IpBW","name":"Local Ollama service"}}},{"parameters":{"model":"llama3.2:latest","options":{"format":"json"}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-712,260],"id":"3178e4a9-6aae-4ee0-ad59-9072ae63702f","name":"Ollama Chat Model2","credentials":{"ollamaApi":{"id":"xHuYe0MDGOs9IpBW","name":"Local Ollama service"}}},{"parameters":{"promptType":"define","text":"=Subject: {{ $('Gmail Trigger').item.json.subject }}\nMessage: {{ $('Gmail Trigger').item.json.textAsHtml }}","messages":{"messageValues":[{"message":"You're a helpful personal assistant and your task is to draft replies on my behalf to my incoming emails. Whenever I provide some text from an email, return an appropriate draft reply for it and nothing else.\nEnsure that the reply is suitable for a professional email setting and addresses the topic in a clear, structured, and detailed manner.\nDo not make things up.\n\nDetailed instructions:\n- Be concise and maintain a business casual tone.\n- Start with \"Hello,\", and end with \"Best,\"\n- When replying to yes-no questions, draft 2 responses: one affirmative and one negative separated by \" - - - - - - - OR - - - - - - - \"\n- If you don't know an answer, you can leave placeholders like \"[YOUR_ANSWER_HERE]\".\n- Don't use any special formatting, only plain text.\n- Reply in the same language as the inbound email."}]}},"id":"d9e961eb-5227-4761-8e1b-71bf8f656dcd","name":"Generate email reply1","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[-144,40],"typeVersion":1.4},{"parameters":{"prompt":"=Subject: {{ $json.subject }}\nMessage:{{ $json.textAsHtml }} \nLabels: {{ $json.labelIds }}\nFrom Name: {{ $json.from.value[0].name }}","messages":{"messageValues":[{"message":"Your task is to assess if the message requires a response. \nConsider all the inputs such as Subject, Message, Labels and From Name to determine whether the email needs a response.\n\nEmails that don't require a response are:\n- Promotions and Social emails \n- Emails sent from accounts with wording like \"no-reply\"\n\n\nEmails that should be seriously considered for response are:\n- With labels in \"UNREAD\",\"IMPORTANT\",\"CATEGORY_PERSONAL\",\"INBOX\"\n- The \"From Name\" is a string with length > 5\n\nRequirements:\n- Return result in JSON format. \n- The JSON result should have an entry for each email\n- Each entry should have a key or variable `needsReply`, set to the boolean value of true if the email requires a response, false otherwise."}]}},"id":"23478a08-779a-4487-b945-28dc09999e78","name":"Assess if message needs a reply1","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[-740,40],"typeVersion":1.3,"alwaysOutputData":true,"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"resource":"draft","subject":"=Re: {{ $('Gmail Trigger').item.json.headers.subject }}","emailType":"html","message":"={{ $json.text.replace(/\\n/g, \"<br />\\n\") }}","options":{"threadId":"={{ $('Gmail Trigger').item.json.threadId }}","sendTo":"={{ $('Gmail Trigger').item.json.headers.from }}"}},"id":"3217a7f1-e443-4c53-908f-d55953993add","name":"Gmail - Create Draft1","type":"n8n-nodes-base.gmail","position":[232,40],"typeVersion":2.1,"webhookId":"6a6a87be-e0ae-4623-b447-b084d831291b","credentials":{"gmailOAuth2":{"id":"86IFxw2xHjFCcMIH","name":"Gmail account"}}},{"parameters":{"jsonSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"needsReply\": {\n      \"type\": \"boolean\"\n      }\n  },\n  \"required\": [\"needsReply\"]\n}\n"},"id":"0b05a276-dbef-46ba-8907-558e59ca8e8e","name":"JSON Parser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[-592,260],"typeVersion":1},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"53849246-ad32-4845-9976-9f9688f5a6f2","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.needsReply }}","rightValue":"true"}]},"options":{}},"id":"de66d79c-a63c-4fbe-954c-18de1752008b","name":"If Needs Reply1","type":"n8n-nodes-base.if","position":[-364,40],"typeVersion":2},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"q":"-from:me"},"options":{}},"id":"d37a342f-91a3-4daf-a32d-ad39753c3d0a","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","position":[-960,40],"typeVersion":1,"credentials":{"gmailOAuth2":{"id":"86IFxw2xHjFCcMIH","name":"Gmail account"}}}],"connections":{"Ollama Chat Model3":{"ai_languageModel":[[{"node":"Generate email reply1","type":"ai_languageModel","index":0}]]},"Ollama Chat Model2":{"ai_languageModel":[[{"node":"Assess if message needs a reply1","type":"ai_languageModel","index":0}]]},"Generate email reply1":{"main":[[{"node":"Gmail - Create Draft1","type":"main","index":0}]]},"Assess if message needs a reply1":{"main":[[{"node":"If Needs Reply1","type":"main","index":0}]]},"JSON Parser1":{"ai_outputParser":[[{"node":"Assess if message needs a reply1","type":"ai_outputParser","index":0}]]},"If Needs Reply1":{"main":[[{"node":"Generate email reply1","type":"main","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Assess if message needs a reply1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f313e78b-008d-4bd0-b68e-56bead6c27cc","triggerCount":0,"tags":[]}