n8n/demo-data11/workflows/LHgTtCa004V8Ay0Z.json
{"createdAt":"2025-05-26T05:04:07.277Z","updatedAt":"2025-05-26T16:49:00.602Z","id":"LHgTtCa004V8Ay0Z","name":"Gmail Drafts","active":false,"isArchived":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"q":"-from:me"},"options":{}},"id":"2aa42598-0271-4707-8800-81ece50ba704","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","position":[-900,180],"typeVersion":1},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"53849246-ad32-4845-9976-9f9688f5a6f2","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.needsReply }}","rightValue":"true"}]},"options":{}},"id":"49ed183f-45a6-4cf3-9517-50b59d67dda5","name":"If Needs Reply","type":"n8n-nodes-base.if","position":[-320,160],"typeVersion":2},{"parameters":{"jsonSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"needsReply\": {\n      \"type\": \"boolean\"\n      }\n  },\n  \"required\": [\"needsReply\"]\n}\n"},"id":"ec21f6bb-1a15-46f1-b4d5-05a45c15edbf","name":"JSON Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[-460,320],"typeVersion":1},{"parameters":{"content":"## When I receive an Email\n","height":394.42512272977456,"width":304.10628068244364},"id":"99c60599-53a0-486a-b9d3-70392ed8f066","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1000,80],"typeVersion":1},{"parameters":{"content":"## ... that Needs a Reply\n","height":397,"width":556},"id":"01cf44ec-33c1-4ce7-a3df-2052a57adc5a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-680,80],"typeVersion":1},{"parameters":{"content":"## Generate a Reply","height":400.08454375343996,"width":333.19082443588354},"id":"717c3883-eec0-4a35-b800-6861136cc383","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-100,80],"typeVersion":1},{"parameters":{"content":"## ...as a Draft in the conversation","height":395,"width":326},"id":"07f87517-29e8-46c0-a650-c76d089a2ae5","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[260,80],"typeVersion":1},{"parameters":{"resource":"draft","subject":"=Re: {{ $('Gmail Trigger').item.json.headers.subject }}","emailType":"html","message":"={{ $json.text.replace(/\\n/g, \"<br />\\n\") }}","options":{"threadId":"={{ $('Gmail Trigger').item.json.threadId }}","sendTo":"={{ $('Gmail Trigger').item.json.headers.from }}"}},"id":"0fd7239d-6e93-425e-af4f-dbc6271f585c","name":"Gmail - Create Draft","type":"n8n-nodes-base.gmail","position":[340,160],"typeVersion":2.1,"webhookId":"4877c685-88f6-4f5f-8e34-06f33c7344f6"},{"parameters":{"prompt":"=Subject: {{ $json.subject }}\nMessage:\n{{ $json.textAsHtml }} ","messages":{"messageValues":[{"message":"Your task is to assess if the message requires a response. Return in JSON format true if it does, false otherwise.\nMarketing emails don't require a response."}]}},"id":"5e1f157f-55a2-4ec7-b191-b958290c7894","name":"Assess if message needs a reply","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[-660,160],"typeVersion":1.3},{"parameters":{"promptType":"define","text":"=Subject: {{ $('Gmail Trigger').item.json.subject }}\nMessage: {{ $('Gmail Trigger').item.json.textAsHtml }}","messages":{"messageValues":[{"message":"You're a helpful personal assistant and your task is to draft replies on my behalf to my incoming emails. Whenever I provide some text from an email, return an appropriate draft reply for it and nothing else.\nEnsure that the reply is suitable for a professional email setting and addresses the topic in a clear, structured, and detailed manner.\nDo not make things up.\n\nDetailed instructions:\n- Be concise and maintain a business casual tone.\n- Start with \"Hello,\", and end with \"Best,\"\n- When replying to yes-no questions, draft 2 responses: one affirmative and one negative separated by \" - - - - - - - OR - - - - - - - \"\n- If you don't know an answer, you can leave placeholders like \"[YOUR_ANSWER_HERE]\".\n- Don't use any special formatting, only plain text.\n- Reply in the same language as the inbound email."}]}},"id":"998895ea-e03c-45db-9ed1-2e9192f648ef","name":"Generate email reply","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[-60,120],"typeVersion":1.4},{"parameters":{"options":{"format":"json"}},"type":"@n8n/n8n-nodes-langchain.lmOllama","typeVersion":1,"position":[-640,340],"id":"2abf36cb-76d7-4ffc-a624-e2b8a76c7d06","name":"Ollama Model","credentials":{"ollamaApi":{"id":"xHuYe0MDGOs9IpBW","name":"Local Ollama service"}}},{"parameters":{"options":{"format":"json"}},"type":"@n8n/n8n-nodes-langchain.lmOllama","typeVersion":1,"position":[-40,340],"id":"db2310b3-9c42-4a5a-9612-fc8ef567583a","name":"Ollama Model1","credentials":{"ollamaApi":{"id":"xHuYe0MDGOs9IpBW","name":"Local Ollama service"}}}],"connections":{"JSON Parser":{"ai_outputParser":[[{"node":"Assess if message needs a reply","type":"ai_outputParser","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Assess if message needs a reply","type":"main","index":0}]]},"If Needs Reply":{"main":[[{"node":"Generate email reply","type":"main","index":0}]]},"Generate email reply":{"main":[[{"node":"Gmail - Create Draft","type":"main","index":0}]]},"Assess if message needs a reply":{"main":[[{"node":"If Needs Reply","type":"main","index":0}]]},"Ollama Model1":{"ai_languageModel":[[{"node":"Generate email reply","type":"ai_languageModel","index":0}]]},"Ollama Model":{"ai_languageModel":[[{"node":"Assess if message needs a reply","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"c2225181-d3ff-4823-a014-588a66355538","triggerCount":0,"tags":[]}