n8n/demo-data11/workflows/Pjwljivia1C6JNNz.json
{"createdAt":"2025-06-08T04:02:03.679Z","updatedAt":"2025-06-27T05:22:20.710Z","id":"Pjwljivia1C6JNNz","name":"Agent Army: Apartment Finder","active":false,"isArchived":false,"nodes":[{"parameters":{"contextWindowLength":20},"id":"61adaf34-58f0-4355-be4b-5f99f869e345","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[-160,240],"typeVersion":1.3},{"parameters":{"options":{"gl":"us","device":"desktop","no_cache":false,"google_domain":"google.com","hl":"en"}},"id":"fa067485-dd23-431b-a9c7-734062bb172c","name":"SerpAPI","type":"@n8n/n8n-nodes-langchain.toolSerpApi","position":[-40,240],"typeVersion":1,"credentials":{"serpApi":{"id":"YTfyINvAXL3mbrFN","name":"SerpAPI account"}}},{"parameters":{},"id":"2d4befac-0481-433e-8200-f1dd931eb87a","name":"Wikipedia","type":"@n8n/n8n-nodes-langchain.toolWikipedia","position":[80,240],"typeVersion":1},{"parameters":{"options":{}},"id":"c61e6fd5-4111-4bf5-92d5-bc8b9ba4e638","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[-128,20],"typeVersion":1.8},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-500,20],"id":"18dca547-dec1-46fb-a3c6-fcb80017f14b","name":"When Executed by Another Workflow"},{"parameters":{"model":"llama3.2:latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-280,240],"id":"c1917748-519e-4739-80de-d90b0c346e03","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"xHuYe0MDGOs9IpBW","name":"Local Ollama service"}}},{"parameters":{"assignments":{"assignments":[{"id":"ef7e6aa7-eb29-4815-8402-d5998fce8b18","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,20],"id":"60702df7-e188-458a-b855-57c0a4b9f518","name":"Edit Fields"},{"parameters":{"query":"2 bed apartments in Thornton, for less than $2000 per month","options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[200,240],"id":"e70972bc-03c7-4fbb-bf9c-63c5dd43da0b","name":"Tavily","credentials":{"tavilyApi":{"id":"TBWlMri9q30bGrMt","name":"Tavily account"}}}],"connections":{"SerpAPI":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Wikipedia":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Tavily":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"483fbe5b-8912-45ba-ae05-3e15a8294f7a","triggerCount":0,"tags":[]}