n8n/demo-data11/workflows/ZzietcRxMwvMOAMZ.json
{"createdAt":"2025-06-06T20:30:23.186Z","updatedAt":"2025-06-22T16:52:48.662Z","id":"ZzietcRxMwvMOAMZ","name":"Agent Army: SMS Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"llama3.2:latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-472,1020],"id":"eba88b8e-e8dc-4ba8-8177-1bdfde0485a4","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"xHuYe0MDGOs9IpBW","name":"Local Ollama service"}}},{"parameters":{"from":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('From', ``, 'string') }}","to":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.twilioTool","typeVersion":1,"position":[-352,1020],"id":"982af132-d9fb-4add-9aec-78f616e0fce4","name":"Twilio","credentials":{"twilioApi":{"id":"KYl9jMCjhBFFTNjE","name":"Twilio account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-720,800],"id":"63be368d-c19d-41b0-8b0f-01ab29de439e","name":"When Executed by Another Workflow"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-500,800],"id":"6d4fea39-8dc7-41db-8afd-da56bd061e53","name":"SMS Agent"},{"parameters":{"from":"+18447935796","to":"=17205035656","message":"Test message from N8N","options":{}},"type":"n8n-nodes-base.twilio","typeVersion":1,"position":[-124,900],"id":"0e31b2a9-1b4c-4552-be5b-1f1c3ca6ca53","name":"Twilio1","credentials":{"twilioApi":{"id":"KYl9jMCjhBFFTNjE","name":"Twilio account"}}},{"parameters":{"additionalFields":{}},"type":"n8n-nodes-base.vonage","typeVersion":1,"position":[-124,500],"id":"9157b5e7-0db6-46a0-a4ce-821b46ac0ee0","name":"Vonage"},{"parameters":{"options":{}},"type":"n8n-nodes-base.sms77","typeVersion":1,"position":[-124,700],"id":"435a83f7-3073-4d2a-9a35-a39377989ad7","name":"seven"},{"parameters":{"assignments":{"assignments":[{"id":"ef7e6aa7-eb29-4815-8402-d5998fce8b18","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-124,1100],"id":"edbc5820-0d72-48bd-8803-e8560fabf89b","name":"Edit Fields"}],"connections":{"Ollama Chat Model":{"ai_languageModel":[[{"node":"SMS Agent","type":"ai_languageModel","index":0}]]},"Twilio":{"ai_tool":[[{"node":"SMS Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"SMS Agent","type":"main","index":0}]]},"SMS Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Vonage","type":"main","index":0},{"node":"seven","type":"main","index":0},{"node":"Twilio1","type":"main","index":0}]]},"Vonage":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"70988487-8f61-49fd-a8a3-b7db621bc194","triggerCount":0,"tags":[]}