n8n/demo-data/workflows/jo5h6c5zGHGOZmNh.json
{"createdAt":"2025-05-26T17:07:39.227Z","updatedAt":"2025-06-08T03:49:18.192Z","id":"jo5h6c5zGHGOZmNh","name":"Agent Army: Gmail Drafts","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"draft","subject":"=Re: {{ $('Gmail').item.json.Subject }}","emailType":"html","message":"={{ $json.text.replace(/\\n/g, \"<br />\\n\") }}","options":{"threadId":"={{ $('Gmail').item.json.threadId }}","sendTo":"={{ $('Gmail').item.json.From }}"}},"id":"0fd7239d-6e93-425e-af4f-dbc6271f585c","name":"Gmail - Create Draft","type":"n8n-nodes-base.gmail","position":[-244,120],"typeVersion":2.1,"webhookId":"4877c685-88f6-4f5f-8e34-06f33c7344f6","credentials":{"gmailOAuth2":{"id":"86IFxw2xHjFCcMIH","name":"Gmail account"}}},{"parameters":{"promptType":"define","text":"=Subject: {{ $json.Subject }}\nMessage: {{ $json.snippet }}\nFrom: {{ $json.From }}","messages":{"messageValues":[{"message":"You're a helpful personal assistant and your task is to draft replies on my behalf to my incoming emails. \nFor a given email Subject and Message, return an appropriate draft reply for it and nothing else.\nEnsure that the reply is suitable for a professional email setting and addresses the topic in a clear, structured, and detailed manner.\nDo not make things up.\n\nDetailed instructions:\n- The response needs to be from me, not from you.\n- Don't be negative, e.g don't say \"Unfortunately, I don't know ...\". Instead say \"For more information, get in touch with us\"\n- Always provide useful information about how to get back in touch with us, including\nBusiness Phone Number 720 503 5656 \nReply to This email\n\n\n- Start with \"Hello,\", and use the name of the sender after \"Hello\"\n- End with \n\"<a href=\"https://calendar.app.google/eB5zPHbZCUCHZSjb9\">Book Time With Us</a>\n\nBest, \nMy Briefcase Team\"\n\n- Be concise and maintain a business casual tone.\n- When replying to yes-no questions, draft 2 responses: one affirmative and one negative separated by \" - - - - - - - OR - - - - - - - \"\n- If you don't know an answer, you can leave placeholders like \"[YOUR_ANSWER_HERE]\".\n- Reply in the same language as the inbound email.\n\n\n\nInstructions for Scheduling:\nIf the email looks like it is an inquiry about meeting, viewing or scheduling a call, share my Google Booking Page link https://calendar.app.google/eB5zPHbZCUCHZSjb9 and invite the sender to schedule a time slot through it."}]}},"id":"998895ea-e03c-45db-9ed1-2e9192f648ef","name":"Generate email reply","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[-620,120],"typeVersion":1.4},{"parameters":{"model":"llama3.2:latest","options":{"format":"default"}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-532,340],"id":"d9c361ad-4f27-426a-b26b-0b10e036b864","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"xHuYe0MDGOs9IpBW","name":"Local Ollama service"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1060,120],"id":"99ce895b-cad1-4700-bf55-c5c95c1f7d1c","name":"When Executed by Another Workflow"},{"parameters":{"operation":"getAll","limit":10,"filters":{"labelIds":["IMPORTANT","INBOX","CATEGORY_PERSONAL"],"readStatus":"unread"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-840,120],"id":"5bbb7749-4c02-45f9-8e68-42ae36bdd84e","name":"Gmail","webhookId":"cb0918f3-6158-4e21-9562-a647abfdaff9","credentials":{"gmailOAuth2":{"id":"86IFxw2xHjFCcMIH","name":"Gmail account"}}}],"connections":{"Generate email reply":{"main":[[{"node":"Gmail - Create Draft","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Generate email reply","type":"ai_languageModel","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Generate email reply","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"968f5fdf-e965-488a-b6eb-c4690f7d7450","triggerCount":0,"tags":[]}