n8n/demo-data/workflows/noE3sY5m5bOwWQN2.json
{"createdAt":"2025-06-06T20:56:26.738Z","updatedAt":"2025-06-22T16:51:56.579Z","id":"noE3sY5m5bOwWQN2","name":"Agent Army: Calls Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["com.twilio.voice.insights.call-summary.complete"]},"type":"n8n-nodes-base.twilioTrigger","typeVersion":1,"position":[-240,-140],"id":"0f8162a0-45de-45f8-9ade-78e1e2d4e24e","name":"Twilio Trigger","webhookId":"23ed532f-e58d-48dc-a2f5-49f090f0f0bf","credentials":{"twilioApi":{"id":"KYl9jMCjhBFFTNjE","name":"Twilio account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-20,-140],"id":"8135812f-f019-4867-916e-b1d79c19b784","name":"AI Agent"},{"parameters":{"assignments":{"assignments":[{"id":"ef7e6aa7-eb29-4815-8402-d5998fce8b18","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[356,-140],"id":"0c73ca1e-e72e-446a-8b29-6f3edca23dc5","name":"Edit Fields"}],"connections":{"Twilio Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8e491de8-31f4-4a33-afa9-a080517401ab","triggerCount":0,"tags":[]}