n8n/demo-data/workflows/tRjEZ8wESOxeX92K.json
{"createdAt":"2025-06-06T04:06:13.170Z","updatedAt":"2025-06-08T04:33:54.309Z","id":"tRjEZ8wESOxeX92K","name":"Agent Army: Research Agent","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"02e7fae8-ab6f-4f77-b172-b974cdfd33e0","name":"When Executed by Another Workflow"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[372,0],"id":"c2ef4959-a877-43c2-944e-34829179e099","name":"Research Agent"},{"parameters":{"model":"llama3.2:latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[220,220],"id":"a2713e15-04e6-4801-b990-1b85634a8d67","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"xHuYe0MDGOs9IpBW","name":"Local Ollama service"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[340,220],"id":"0e0be75c-1f72-42df-8d97-a7d66283f711","name":"Wikipedia"},{"parameters":{"articleId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Article_ID', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.hackerNewsTool","typeVersion":1,"position":[460,220],"id":"fc066cfc-5ab0-4678-ac27-dc457072921d","name":"Hacker News"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[580,220],"id":"b741be05-8ee4-43db-8ce7-070ee7f64598","name":"SerpAPI","credentials":{"serpApi":{"id":"YTfyINvAXL3mbrFN","name":"SerpAPI account"}}},{"parameters":{"additionalFields":{}},"type":"n8n-nodes-base.contentfulTool","typeVersion":1,"position":[700,220],"id":"d72e8a27-fe30-4817-8b93-d0d3a6f17049","name":"Contentful"},{"parameters":{"assignments":{"assignments":[{"id":"ef7e6aa7-eb29-4815-8402-d5998fce8b18","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[780,0],"id":"1dd75fc4-0380-405e-b27b-66b9c0235e7a","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Research Agent","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Research Agent","type":"ai_languageModel","index":0}]]},"Wikipedia":{"ai_tool":[[{"node":"Research Agent","type":"ai_tool","index":0}]]},"Hacker News":{"ai_tool":[[{"node":"Research Agent","type":"ai_tool","index":0}]]},"SerpAPI":{"ai_tool":[[{"node":"Research Agent","type":"ai_tool","index":0}]]},"Contentful":{"ai_tool":[[{"node":"Research Agent","type":"ai_tool","index":0}]]},"Research Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"887ccc6e-2f68-4963-ad60-9de50cb81ae6","triggerCount":0,"tags":[]}