n8n/demo-data/workflows/uKnSdcpKdppQL8JP.json
{"createdAt":"2025-06-06T03:40:33.252Z","updatedAt":"2025-06-11T23:53:50.749Z","id":"uKnSdcpKdppQL8JP","name":"Agent Army: Gmail Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-320,-40],"id":"c4e027fe-35d6-4b9d-beb8-50273e838305","name":"When Executed by Another Workflow"},{"parameters":{"model":"llama3.2:latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-100,180],"id":"295bdbe3-0b72-4ef4-a5ba-1022fc208427","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"xHuYe0MDGOs9IpBW","name":"Local Ollama service"}}},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"You are a helpful assistant to manage my emails, such as find unread emails, create draft responses, label emails, determine if an email should be responded to, respond to emails, and send emails.\n\nYou have access to tools such as:\n\nSend: Send new email\n\nReply: reply to existing emails \n\nGet one: Get one email by message id\n\nGet Many: Get many, such as all unread, all from the same sender, or all from a certain date or label \n\nDelete: only if asked and message Id is provided\n\nAdd Label: categorize similar emails, such as from the same domain or email address\n\nGmail Drafts Agent:\nTo create Draft responses, delegate to this agent"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[240,-40],"id":"684cb1cb-9e95-4fb1-8104-7ad324592cac","name":"Gmail Agent"},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[20,180],"id":"7409161c-3742-4987-ae07-d2f6b298008e","name":"Send","webhookId":"b21c0eea-ea98-4178-a387-2470a7572052","credentials":{"gmailOAuth2":{"id":"86IFxw2xHjFCcMIH","name":"Gmail account"}}},{"parameters":{"operation":"get","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[140,180],"id":"a633840a-6947-4043-b324-44bc0896d8f0","name":"Get One","webhookId":"b21c0eea-ea98-4178-a387-2470a7572052","credentials":{"gmailOAuth2":{"id":"86IFxw2xHjFCcMIH","name":"Gmail account"}}},{"parameters":{"operation":"getAll","filters":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[260,180],"id":"fcf8ff28-f2c0-4915-acf0-fc9742cf1fb6","name":"Get Many","webhookId":"b21c0eea-ea98-4178-a387-2470a7572052","credentials":{"gmailOAuth2":{"id":"86IFxw2xHjFCcMIH","name":"Gmail account"}}},{"parameters":{"operation":"reply","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[380,180],"id":"0d9aac85-6720-4634-9105-163d2a86fc29","name":"Reply","webhookId":"b21c0eea-ea98-4178-a387-2470a7572052","credentials":{"gmailOAuth2":{"id":"86IFxw2xHjFCcMIH","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}","labelIds":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', ``, 'string') }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[500,180],"id":"19b1570c-81c2-49e6-bd60-cadebbc22880","name":"Add Label","webhookId":"b21c0eea-ea98-4178-a387-2470a7572052","credentials":{"gmailOAuth2":{"id":"86IFxw2xHjFCcMIH","name":"Gmail account"}}},{"parameters":{"operation":"delete","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[620,180],"id":"da7c064f-79a7-4bf9-a092-0cbf4e6d9a91","name":"Delete","webhookId":"b21c0eea-ea98-4178-a387-2470a7572052","credentials":{"gmailOAuth2":{"id":"86IFxw2xHjFCcMIH","name":"Gmail account"}}},{"parameters":{"assignments":{"assignments":[{"id":"ef7e6aa7-eb29-4815-8402-d5998fce8b18","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[940,-40],"id":"1f25320e-cbea-46ca-ac6b-2e3f6ca43ccd","name":"Edit Fields"},{"parameters":{"workflowId":{"__rl":true,"value":"jo5h6c5zGHGOZmNh","mode":"list","cachedResultName":"Agent Army: Gmail Drafts"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[740,180],"id":"46f3c04c-5064-47b1-8589-6cba290b2a42","name":"Gmail Drafts Agent"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Gmail Agent","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Gmail Agent","type":"ai_languageModel","index":0}]]},"Send":{"ai_tool":[[{"node":"Gmail Agent","type":"ai_tool","index":0}]]},"Get One":{"ai_tool":[[{"node":"Gmail Agent","type":"ai_tool","index":0}]]},"Get Many":{"ai_tool":[[{"node":"Gmail Agent","type":"ai_tool","index":0}]]},"Reply":{"ai_tool":[[{"node":"Gmail Agent","type":"ai_tool","index":0}]]},"Add Label":{"ai_tool":[[{"node":"Gmail Agent","type":"ai_tool","index":0}]]},"Delete":{"ai_tool":[[{"node":"Gmail Agent","type":"ai_tool","index":0}]]},"Gmail Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Gmail Drafts Agent":{"ai_tool":[[{"node":"Gmail Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"query":"create 2 new draft emails"}}]},"versionId":"637adc1d-92e9-424b-a52f-0ec574b5aaec","triggerCount":0,"tags":[]}