n8n/demo-data/workflows/ZzietcRxMwvMOAMZ.json
{"createdAt":"2025-06-06T20:30:23.186Z","updatedAt":"2025-06-07T04:16:19.145Z","id":"ZzietcRxMwvMOAMZ","name":"Agent Army: SMS Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"llama3.2:latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-300,1000],"id":"eba88b8e-e8dc-4ba8-8177-1bdfde0485a4","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"xHuYe0MDGOs9IpBW","name":"Local Ollama service"}}},{"parameters":{"from":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('From', ``, 'string') }}","to":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.twilioTool","typeVersion":1,"position":[-60,1000],"id":"982af132-d9fb-4add-9aec-78f616e0fce4","name":"Twilio","credentials":{"twilioApi":{"id":"KYl9jMCjhBFFTNjE","name":"Twilio account"}}},{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-460,160],"id":"63be368d-c19d-41b0-8b0f-01ab29de439e","name":"When Executed by Another Workflow"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-240,780],"id":"6d4fea39-8dc7-41db-8afd-da56bd061e53","name":"SMS Agent"},{"parameters":{"path":"f63cb0ee-d316-43ff-948d-c81a7eaabf46","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-460,-100],"id":"9b62baad-5e6e-4c60-91df-fcad91079fa6","name":"Webhook","webhookId":"f63cb0ee-d316-43ff-948d-c81a7eaabf46"},{"parameters":{"from":"+18447935796","to":"=17205035656","message":"Test message from N8N","options":{}},"type":"n8n-nodes-base.twilio","typeVersion":1,"position":[280,160],"id":"0e31b2a9-1b4c-4552-be5b-1f1c3ca6ca53","name":"Twilio1","credentials":{"twilioApi":{"id":"KYl9jMCjhBFFTNjE","name":"Twilio account"}}},{"parameters":{"updates":["com.twilio.messaging.inbound-message.received"]},"type":"n8n-nodes-base.twilioTrigger","typeVersion":1,"position":[-460,780],"id":"4cd37d6c-f8c1-45d3-8215-9a8fb75874f9","name":"Twilio Trigger","webhookId":"d3a20662-d91a-4c98-8b07-ad6efdfaafb0","credentials":{"twilioApi":{"id":"KYl9jMCjhBFFTNjE","name":"Twilio account"}}},{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-80,180],"id":"a02bd0c7-895c-401d-b53e-91ffb02630ab","name":"WhatsApp Trigger","webhookId":"89f5dd96-91dc-4919-b9b7-2d20476bcb22"},{"parameters":{"trigger":["message"],"channelId":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[-460,420],"id":"96b0212e-fdd4-4917-a884-19ff0dd959d1","name":"Slack Trigger","webhookId":"368a3014-70fa-47df-95a3-e68c1c36df2b"},{"parameters":{"additionalFields":{}},"type":"n8n-nodes-base.vonage","typeVersion":1,"position":[-80,-80],"id":"9157b5e7-0db6-46a0-a4ce-821b46ac0ee0","name":"Vonage"},{"parameters":{"options":{}},"type":"n8n-nodes-base.sms77","typeVersion":1,"position":[-80,440],"id":"435a83f7-3073-4d2a-9a35-a39377989ad7","name":"seven"},{"parameters":{"assignments":{"assignments":[{"id":"ef7e6aa7-eb29-4815-8402-d5998fce8b18","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[136,780],"id":"edbc5820-0d72-48bd-8803-e8560fabf89b","name":"Edit Fields"}],"connections":{"Ollama Chat Model":{"ai_languageModel":[[{"node":"SMS Agent","type":"ai_languageModel","index":0}]]},"Twilio":{"ai_tool":[[{"node":"SMS Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[]]},"Webhook":{"main":[[]]},"SMS Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Twilio Trigger":{"main":[[{"node":"SMS Agent","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[]]},"Slack Trigger":{"main":[[]]},"Vonage":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9905f1f7-85e0-4f85-932d-b7e461aa86f2","triggerCount":0,"tags":[]}